*,
body {
  font-family: "Nunito Sans", "Barlow", "Helvetica Neue", "Helvetica", "Roboto",
    "sans-serif";
}

.UNX-hidden {
  display: none;
}

.UNX-change-facet {
  color: #a7b5bd;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 30px;
}

.UNX-facet-count {
  color: #a7b5bd;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 30px;
}

#UNX-head-wrapper-debug {
  padding-left: 20px;
}

.UNX-header {
  box-shadow: 0 0 6px 3px rgba(145, 150, 162, 0.14);
  background: #fff;
}

.UNX-head {
  color: #a7b5bd;

  font-size: 16px;
  letter-spacing: 0;
  line-height: 30px;
  margin-top: 20px;
  padding-left: 20px;
}

.UNX-product-results label {
  margin-bottom: 0px;
}

.UNX-header-logo {
  background: url("/ss/images/sprite.svg") -511px -959px;
  width: 128px;
  height: 33px;
  display: inline-block;
  margin-left: 15px;
}

.search-preview {
  background: #ffffff;
}

.UNX-header-inner {
  justify-content: space-between;
}

.UNX-nav {
  display: flex;
  align-items: center;
  min-width: 550px;
}

.UNX-nav a {
  color: #717989;
  padding: 18px 12px;
  font-size: 14px;
  font-weight: 400;
  white-space: pre;
  text-decoration: none;
}

.UNX-logo {
  margin-right: 0px;
}

.UNX-input {
  outline: none;
  padding-left: 37px;
  height: 40px;
  width: 100%;
}

.UNX-input-wrapper {
  width: 350px;
  padding-left: 5px;
  margin-right: 24px;
  margin-left: 50px;
}

.UNX-search-btn {
  background-color: transparent;
  color: rgb(185, 185, 185);
  left: -55px;
  border-color: transparent;
}

.UNX-result-header {
  padding: 0;
  padding-left: 20px;
  margin-bottom: 16px;
}

.UNX-naked-btn {
  background: transparent;
  border-color: transparent;
  color: #8a8a8a;
}

.UNX-price-row {
  display: none;
}

.UNX-shopping-cart .UNX-naked-btn {
  font-size: 20px;
}

.UNX-facet-wrapper {
  width: 262px;
  padding: 0px 24px;
  background: rgb(255, 255, 255);
  border: solid 1px #e9eaef;
  border-radius: 4px;
}

.UNX-facet-header {
  color: #0a0b0c;
  font-family: "Nunito Sans";
  font-size: 16px;
  letter-spacing: 0;
  line-height: 22px;
  text-transform: capitalize;
}

.UNX-filter-header {
  color: #666666;
  font-family: "Nunito Sans";
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24px;
  margin-bottom: 0;
  margin-left: 2px;
  padding: 5px;
}

.UNX-facet-item-d {
  border-top: solid 1px #e7e7e7;
  margin-top: 15px;
  padding-top: 10px;
}

.UNX-facet-open:after {
  color: #717989;
}

.UNX-range-slider-wrapper .noUi-connect {
  background: #577ede;
}

.UNX-selected-crumb .UNX-facet-text,
.UNX-bread-crumb-item {
  color: #577ede;
}

.UNX-bread-crumb-item {
  padding-left: 0px;
}

.UNX-category-icon {
  display: none;
}

.UNX-selected-crumb .UNX-category-icon:before {
  display: none;
}

.UNX-multilevel-block .UNX-facet-text {
  height: 18px;
}

.UNX-pagination-block .UNX-page-prev,
.UNX-pagination-block .UNX-page-next {
  height: 26px;
  width: 26px;
}

.UNX-multilevel-facet {
  margin-bottom: 0px;
}

.UNX-pagination-block {
  justify-content: center;
}

.UNX-page-no-block .UNX-page-button {
  padding: 1px 8px;
}

.UNX-facets-results-block .UNX-range-slider-wrap {
  padding: 10px 0px;
}

.UNX-spellcheck-block {
  margin-top: 6px;
}

.UNX-product-wrapper {
  margin-top: 20px;
}

.footer {
  justify-content: center;
  display: flex;
  padding: 40px;
}

.UNX-delete-facet {
  top: -2px;
}

.UNX-selected-facet-btn .UNX-facet-text:after {
  height: 4px;
  left: 3px;
  top: 4px;
  width: 8px;
}

.UNX-grid-card .UNX-product-title {
  width: 100%;
  color: #273251;
  font-family: "Nunito Sans";
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 14px;
  padding: 0px 12px;
}

.UNX-price-row {
  display: flex;
  justify-content: space-between;
  margin: 12px 0;
}

.UNX-sale-price {
  color: #0a0b0c;
  font-size: 14px;
  font-weight: 600;
}

.UNX-value-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.UNX-product-view {
  background: transparent;
  color: #9e9e9e;
  border-color: transparent;
  font-size: 24px;
  padding: 2px 4px;
  cursor: pointer;
}

.UNX-list-block {
  padding-right: 24px;
}

.UNX-list-card {
  border-bottom: solid 1px #cccccc;
}

.UNX-selected-product-view {
  color: #000000;
}

.UNX-result-info {
  color: #717989;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 19px;
}

.UNX-suggestion-p {
  color: #0a0b0c;

  font-size: 14px;
  letter-spacing: 0;
  line-height: 18px;
}

.UNX-sort-header {
  color: #333333;
  font-size: 12px;
  font-weight: 500;
}

.UNX-facet-header {
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  margin: 10px 0;
}

.UNX-change-facet,
.UNX-multilevel-facet,
.UNX-range-value-block {
  font-size: 14px;
  font-weight: 500;
}

.UNX-range-slider-wrapper.noUi-target {
  border: 1px solid #eaeaea;
}

.UNX-multilevel-facet .UNX-facet-text,
.UNX-multilevel-facet .UNX-facet-count {
  height: auto;
}

.UNX-facet-wrapper h3 {
  margin: 0px;
  font-weight: 400;
}

.UNX-sort-item {
  padding: 4px 16px 4px 8px;
  border-radius: 15px;
}

.UNX-page-items.UNX-page-button {
  font-size: 12px;
  padding: 1px 4px;
}

.UNX-page-button.UNX-selected-page-item {
  background-color: transparent;
  color: #6b8ee5;
}

.product-view-container {
  display: flex;
  flex-direction: row-reverse;
}

.UNX-page-no-block {
  padding: 0px;
}

.UNX-pagination-block .UNX-page-prev,
.UNX-pagination-block .UNX-page-next {
  width: 24px;
  background: rgb(228 228 228);
  color: #b1b1b1;
}

.UNX-change-pagination-wrap.unxPagination {
  margin-left: 6px;
  margin-right: 0px;
}

.UNX-result-wrapper {
  grid-template-columns: 19% 19% 19% 19% 19%;
  grid-column-gap: 1%;
  min-height: 100vh;
}

.UNX-grid-card {
  margin-bottom: 20px;
  box-sizing: border-box;
  padding: 0px;
  width: 182px;
  border: 1px solid #dae1e9;
  border-radius: 4px;
  background-color: #ffffff;
}

.UNX-add-card {
  background-color: #577ede;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  padding: 10px;
  border-radius: 4px;
  margin-top: 8px;
  cursor: pointer;
  display: none;
}

.UNX-img-wrapper {
  text-align: center;
}

.UNX-product-content {
  padding-top: 24px;
}

.UNX-m-page {
  display: block;
}

.UNX-list-card .UNX-add-card {
  width: 130px;
  margin-top: 10px;
  display: none;
}

.UNX-footer-main {
  margin-top: 50px;
  background-color: #eeeeee;
  position: relative;
  z-index: 2;
}

.UNX-footer-container {
  width: 90%;
  margin: auto;
}

.UNX-footer-container a {
  text-decoration: none;
}

.UNX-footer-features {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.UNX-feature-item {
  display: flex;
  align-items: center;
  width: 25%;
  justify-content: center;
  flex-direction: column;
  height: 150px;
}

.UNX-footer-label {
  color: #2e3036;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 22px;
  padding-top: 16px;
}

.UNX-footer-icon {
  font-size: 20px;
  color: #577ede;
}

.UNX-footer-main {
  background-color: #eeeeee;
  width: 100%;
  display: block;
}

.UNX-company-footer {
  background-color: #5a5f67;
  display: flex;
  position: relative;
  z-index: 2;
  width: 100%;
  display: block;
}

.UNX-footer-info-head {
  color: #ffffff;
  margin-bottom: 20px;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 21px;
}

.UNX-link-wrapper a {
  color: #dae1e9;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 25px;
  display: block;
  font-weight: 200;
}

.UNX-company-footer-wrap {
  display: flex;
  justify-content: space-evenly;
}

.UNX-keep-touch {
  display: flex;
  gap: 10px;
}

.UNX-link-icon {
  margin-right: 12px;
  font-size: 20px;
}

.UNX-privacy-footer-wrap {
  padding: 24px 0px;
  background-color: #5a5f67;
  position: relative;
  z-index: 2;
  bottom: 0;
}

.UNX-privacy-footer-wrap .UNX-footer-container {
  border-top: 1px solid #8592ac;
  color: #ffffff;
}

.UNX-privacy-footer-wrap .UNX-footer-container {
  padding-top: 26px;
}

.UNX-footer-container .UNX-contact-link {
  color: #fff;
  cursor: pointer;
  text-decoration: underline;
}

.UNX-selected-facet-btn .UNX-facet-text:before {
  background-color: #577ede;
  border-color: #577ede;
}

.UNX-facet-footer {
  display: none;
}

.UNX-selected-product-view {
  color: #577ede;
}

.UNX-selected-facets-inner .UNX-selected-facets-wrap {
  border-radius: 25px;
  border: 1px solid rgb(225, 230, 233);
  background: transparent;
  margin-right: 8px;
}

.UNX-delete-facet {
  width: 36px;
}

.UNX-selected-facets-wrap .UNX-facet-text {
  font-size: 12px;
  color: #717989;
  font-weight: 300;
  padding-left: 10px;
}

.UNX-selected-facets-inner .UNX-delete-facet {
  width: 25px;
}

.UNX-selected-facets-wrap .UNX-change-facet {
  height: 26px;
}

.UNX-text-facet-wrap .UNX-facet-text {
  line-height: 18px;
  padding-left: 24px;
}

.UNX-multilevel-facet .UNX-facet-text,
.UNX-multilevel-facet .UNX-facet-count {
  height: auto;
  font-weight: 400;
}

.UNX-category-icon + .UNX-facet-text {
  padding-left: 0px;
}

.UNX-category-level-1 .UNX-facet-text {
  padding-left: 0px;
}

.UNX-category-values > .UNX-category-level-2 {
  padding-left: 0px;
}

.UNX-category-values {
  padding-left: 6px;
}

.UNX-icons {
  background-image: url("./icons.svg");
  background-size: auto;
}

.UNX-icon-truck {
  height: 50px;
  width: 50px;
  background-position: -100px -199px;
}

.UNX-icon-call {
  height: 50px;
  width: 50px;
  background-position: -100px -250px;
}

.UNX-icon-call {
  height: 50px;
  width: 50px;
  background-position: -100px -249px;
}

.UNX-icon-money-back {
  height: 50px;
  width: 50px;
  background-position: -100px -298px;
}

.UNX-icon-return {
  height: 50px;
  width: 50px;
  background-position: -100px -350px;
}

.UNX-grid-btn {
  background-image: url("./icons.svg");
  background-size: auto;
  height: 50px;
  width: 40px;
  background-position: -56px -202px;
  margin-top: 10px;
}

.UNX-list-btn {
  background-image: url("./icons.svg");
  background-size: auto;
  height: 50px;
  width: 40px;
  background-position: -4px -202px;
  margin-top: 10px;
}

.UNX-list-btn.UNX-selected-product-view {
  background-image: url("../../../images/sprite.svg");
  background-position: -615px -664px;
  margin-top: 22px;
}

.UNX-grid-btn.UNX-selected-product-view {
  background-image: url("../../../images/sprite.svg");
  background-position: -615px -614px;
  margin-top: 22px;
}

.UNX-grid-btn:before,
.UNX-list-btn:before,
.UNX-search-btn:before {
  content: none;
}

.UNX-shopping-cart-btn {
  background-position: -60px -55px;
  height: 42px;
  width: 60px;
}

.UNX-search-btn {
  background-image: url(./icons.svg);
  background-size: auto;
  height: 40px;
  width: 50px;
  background-position: 0px -59px;
}

.UNX-pagination-block .UNX-page-prev,
.UNX-pagination-block .UNX-page-next {
  color: transparent;
}

.UNX-pagination-block .UNX-prev-btn[disabled] {
  background-image: url(./icons.svg);
  background-size: auto;
  height: 50px;
  width: 50px;
  background-position: 0px -54px;
}

.UNX-pagination-block .UNX-prev-btn[disabled] {
  background-image: url(./icons.svg);
  background-size: auto;
  height: 50px;
  width: 50px;
  background-position: -103px -103px;
  background-color: transparent;
}

.UNX-pagination-block .UNX-next-btn {
  background-image: url(../../../images/sprite.svg);
  background-size: auto;
  width: 6px;
  height: 12px;
  background-position: -126px -1218px;
  background-color: #fbfbfb;
}

.UNX-pagination-block .UNX-prev-btn {
  background-image: url(../../../images/sprite.svg);
  background-size: auto;
  width: 6px;
  height: 12px;
  background-position: -176px -1218px;
  background-color: #fbfbfb;
}

.UNX-pagination-block .UNX-prev-btn[disabled] {
  background-image: url(./icons.svg);
  background-size: auto;
  height: 32px;
  width: 32px;
  background-position: -9px -112px;
  background-color: #fbfbfb;
}

.UNX-pagination-block .UNX-next-btn[disabled] {
  background-image: url(./icons.svg);
  background-size: auto;
  height: 32px;
  width: 32px;
  background-position: -10px -161px;
  background-color: #fbfbfb;
}

.UNX-icon-linkedin {
  height: 54px;
  width: 44px;
  background-position: -155px 4px;
}

.UNX-icon-twitter {
  height: 54px;
  width: 44px;
  background-position: -155px -48px;
}

.UNX-icon-youtube {
  height: 54px;
  width: 44px;
  background-position: -154px -96px;
}

.UNX-images-block {
  position: relative;
}

.UNX-favourite {
  display: block;
  position: absolute;
  right: 6px;
  height: 32px;
  width: 32px;
  z-index: 9;
  top: 80%;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 4px 0 rgba(133, 146, 172, 0.46);
  background-position: -8px -310px;
}

input[id^="likeBtn"]:checked ~ .UNX-favourite {
  background-position: -58px -310px;
}

.UNX-product-col {
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  background-color: #ffffff;
}

.UNX-swatch-main {
  display: flex;
  min-height: 40px;
}

.UNX-swatch-btn-row {
  height: 40px;
  overflow: hidden;
}

.UNX-swatch-button {
  height: 31px;
  width: 31px;
  background-size: 31px 31px;
  background-repeat: no-repeat;
  background-color: #ddd;
  border: solid 1px transparent;
  margin-right: 6px;
  margin-top: 8px;
  color: transparent;
  cursor: pointer;
}

.UNX-show-more-swatches {
  height: auto;
}

.UNX-show-more-swatches + .UNX-swatch-more {
  display: none;
}

.UNX-swatch-more-btn {
  color: #9196a2;
  margin-top: 8px;
  width: 31px;
  height: 31px;
  border: solid 1px #9196a2;
}

.UNX-swatch-button:focus,
.UNX-swatch-selected-btn {
  border: solid 2px #577ede;
  outline: solid 2px #577ede;
}

.UNX-results-container,
.UNX-header-inner {
  width: 97%;
}

.UNX-list-card .UNX-favourite {
  top: 70%;
}

.UNX-product-results {
  justify-content: left;
  padding-left: 20px;
}

.UNX-product-list {
  display: block;
  width: 75%;
  margin-left: 0;
  padding-left: 24px;
  background: #f7f9fb;
}

.UNX-result-wrapper.UNX-no-results-wrap {
  display: block;
}

.UNX-selected-facet-header {
  color: #333333;

  font-size: 15px;
  letter-spacing: 0;
  line-height: 18px;
  margin: 10px 0px;
}

.UNX-header-inner {
  height: 70px;
}

.choices__list--dropdown {
  min-width: 150px;
  overflow: hidden;
  box-shadow: 0px 0px 4px rgb(0 0 0 / 30%);
  border-radius: 4px;
  top: 30px;
  border-color: transparent;
  right: 0px;
}

.UNX-size-select-wrap .choices__list--dropdown {
  top: 30px;
  z-index: 99;
}

.choices__list--dropdown .choices__item--selectable:after {
  display: none;
}

.choices__list--dropdown .choices__item--selectable {
  padding-right: 0px;
}

.choices[data-type*="select-one"] .choices__inner {
  min-height: 18px;
  border: solid 1px #dae1e9;
  border-radius: 25px;
  background: transparent;
  font-size: 12px;
  padding: 1px 12px 2px 6px;
}

.choices[data-type*="select-one"]:before {
  content: "";
  height: 0;
  width: 0;
  border-style: solid;
  border-color: #ffffff transparent transparent;
  border-width: 5px;
  position: absolute;
  right: 12px;
  top: 50%;
  margin-top: -3px;
  pointer-events: none;
  z-index: 1;
}

.choices[data-type*="select-one"]:after {
  right: 12px;
}

.choices[data-type*="select-one"].is-open:before {
  border-color: transparent transparent #ffffff;
  margin-top: -6px;
}

.is-open .choices__inner {
  border-radius: 25px;
}

.UNX-multilevel-facet::before {
  content: " ";
  height: 18px;
  width: 18px;
  display: inline-block;
  background-image: url(./icons.svg);
  background-size: auto;
  background-position: -70px -367px;
}

.UNX-multilevel-facet.UNX-selected-crumb::before {
  background-position: -20px -367px;
}

.UNX-selected-crumb {
  text-transform: capitalize;
}

.UNX-right-header {
  display: flex;
  align-items: center;
}

.UNX-range-slider-wrapper .noUi-handle {
  right: -21px;
}

.noUi-handle.noUi-handle-upper {
  right: 0px;
}

.UNX-list-card .UNX-images-block {
  width: 20%;
  height: auto;
}

.UNX-list-card .UNX-price-row {
  display: block;
}

.UNX-multilevel-facet .UNX-facet-text {
  padding-left: 6px;
}

.UNX-facet-text {
  color: #717989;

  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 16px;
}

.UNX-selected-facets-inner .UNX-delete-facet {
  opacity: 1;
  color: transparent;
  background-image: url(./icons.svg);
  background-position: -120px -60px;
  background-size: auto;
}

.UNX-facet-close:after {
  color: transparent;
  background-image: url(./icons.svg);
  background-position: -165px 86px;
  background-size: auto;
  width: 20px;
}

.UNX-facet-open:after {
  color: transparent;
  background-image: url(./icons.svg);
  background-position: -116px 86px;
  background-size: auto;
  width: 20px;
}

.UNX-size-main {
  margin-top: 9px;
  min-height: auto;
}

.UNX-size-main .UNX-swatch-btn-row {
  height: auto;
}

.UNX-swatch-size {
  cursor: pointer;
  border: solid 1px #9196a2;
  color: #9196a2;
  background: #ffffff;
  min-height: 31px;
  margin-right: 6px;
  margin-bottom: 6px;
  min-width: 31px;
  font-size: 12px;
  font-weight: 500;
}

.UNX-swatch-size-faded {
  opacity: 0.7;
  pointer-events: none;
}

.UNX-swatch-size-selected {
  border-color: #577ede;
  background-color: #577ede;
  color: #ffffff;
}

.UNX-size-row {
  white-space: pre;
}

.UNX-size-more-btn {
  margin-left: 6px;
  height: 32px;
  border: solid 1px #cccccc;
  color: #9a9595;
  width: 32px;
  cursor: pointer;
}

.UNX-show-size-all {
  white-space: normal;
}

.UNX-list-card .UNX-img-wrapper {
  height: 100%;
}

.UNX-list-card .UNX-img-block {
  height: 113%;
  max-width: 100%;
  display: block;
  margin: auto;
}

.choices__placeholder {
  opacity: 1;
}

.unbxd-as-wrapper {
  width: 100%;
}

.lang-rtl .search-preview,
.lang-rtl p.UNX-suggestion-p {
  direction: rtl;
}

.lang-rtl p.UNX-suggestion-p {
  display: flex;
}

.lang-rtl .UNX-input {
  padding-right: 50px;
}

.lang-rtl .UNX-pagination-block .UNX-next-btn,
.lang-rtl .UNX-pagination-block .UNX-next-btn[disabled] {
  transform: rotate(180deg);
  transform-origin: center center;
}

.lang-rtl .UNX-pagination-block .UNX-prev-btn[disabled],
.lang-rtl .UNX-pagination-block .UNX-prev-btn {
  transform: rotate(-180deg);
  transform-origin: center center;
}

.lang-rtl .UNX-sort-header {
  padding-left: 10px;
  padding-right: 0px;
}

.lang-rtl .UNX-text-facet-wrap .UNX-facet-text {
  padding-left: 0px;
  padding-right: 24px;
}

.lang-rtl .UNX-facet-text:before {
  right: 0;
  left: auto;
}

.lang-rtl .UNX-facet-count {
  padding-left: 0px;
  padding-right: 6px;
}

.lang-rtl .UNX-product-list {
  padding-left: 0px;
  padding-right: 24px;
}

.UNX-clear-facet {
  color: #717989;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 16px;
}

#selectedFacetWrapper .UNX-selected-facets-wrap {
  box-sizing: border-box;
  height: 27px;

  border: 1px solid #dae1e9;
  border-radius: 25px;
  background-color: #ffffff;
}

.lang-rtl .UNX-selected-facets-wrap .UNX-facet-text {
  padding-left: 0px;
  padding-right: 10px;
}

.lang-rtl .UNX-selected-facets-inner .UNX-delete-facet {
  background-position: -113px -60px;
}

.lang-rtl .noUi-txt-dir-rtl .noUi-origin {
  left: auto;
}

.lang-rtl .noUi-txt-dir-rtl .noUi-handle-upper {
  left: 21px;
}

.lang-rtl .noUi-txt-dir-rtl .noUi-handle-lower {
  left: 0px;
}

.lang-rtl .choices__list--dropdown .choices__item--selectable {
  padding-left: 0px;
}

.lang-rtl .template-topbar .download-ui-kit .white-download-icon {
  margin-left: 7px;
  margin-right: 0px;
}

.lang-rtl .UNX-lang-drop .choices[data-type*="select-one"]:before,
.lang-rtl .UNX-lang-drop .choices[data-type*="select-one"]:after,
.lang-rtl .UNX-sort-block .choices[data-type*="select-one"]:before,
.lang-rtl .UNX-sort-block .choices[data-type*="select-one"]:after {
  left: 11px;
  right: auto;
}

.lang-rtl .choices__list--single {
  padding-right: 0px;
  padding-left: 18px;
}

.lang-rtl .UNX-selected-facet-btn .UNX-facet-text:after {
  right: 3px;
}

.lang-rtl .UNX-change-facet,
.lang-rtl .UNX-multilevel-facet,
.lang-rtl .UNX-range-value-block {
  padding-right: 0px;
}

.lang-rtl .UNX-category-values,
.lang-rtl .choices__item {
  padding-right: 6px;
}

.lang-rtl .UNX-list-card .UNX-product-content {
  padding-right: 24px;
}

@media only screen and (max-width: 1440px) {
  .UNX-result-wrapper {
    grid-template-columns: 30% 30% 30%;
    grid-column-gap: 3%;
  }
}

.UNX-result-right {
  margin-right: 44px;
}

@media only screen and (max-width: 980px) {
  .UNX-product-list .UNX-change-pagination-wrap {
    padding: 0;
  }

  .UNX-result-right {
    display: flex;
    justify-content: space-between;
  }

  .UNX-head-wrapper .UNX-product-type-block {
    padding-right: 16px;
  }

  .UNX-header-inner .UNX-input-wrapper {
    width: 75%;
  }

  .UNX-head-wrapper {
    padding-left: 60px;
  }

  /** .unbxd-as-wrapper.unbxd-as-overall-autosuggest {
        left: 0 !important;
    } */

  .unbxd-1column-popular-product-desktop {
    width: 100%;
  }

  .unbxd-as-wrapper
    ul.unbxd-as-mobile-view
    li.unbxd-as-popular-product-grid
    .unbxd-as-popular-product-image-container {
    max-width: 100%;
  }
}

.UNX-footer-container-privacy {
  padding-left: 82px;
}

.clickstream-data-container {
  border-radius: 6px;
  background-color: #ffffff;
}

.clickstream-site {
  border-radius: 6px 6px 0 0;
  background-color: #f7f9fb;
  padding: 10px;
}

.clickstream-query {
  border-radius: 6px 6px 0 0;
  padding: 10px;
}

.clickstream-query .count {
  color: #8755d8;
}

.UNX-list-card .clickstream-data-container {
  width: 30%;
  margin: 12px;
}

.clickstream-title {
  color: #4b5975;
  font-family: "Nunito Sans";
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0;
  margin-bottom: 5px;
  line-height: 14px;
}

.clickstream-query-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.count {
  color: #577ede;
  font-family: "Nunito Sans";
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 16px;
}

.title {
  color: #4b5975;
  font-family: "Nunito Sans";
  font-size: 11px;
  letter-spacing: 0;
  line-height: 15px;
}

.clickstream-display {
  display: none;
}

#clickstream-data-id {
  width: 36%;
}

#clickstream-query-id {
  background-color: #f7f9fb;
  padding: 20px;
}

#clickstream-site-id {
  padding: 20px;
}

.UNX-list-card {
  width: 97%;
}

.pin-box {
  color: #687f8f;
  background-color: #eff3f7;
  border: solid 1px #dae1e9;
  padding: 5px 5px;
  position: absolute;
  right: 2px;
  top: 2px;
  border-radius: 3px;
}

.pin-icon {
  background-image: url("../../../images/sprite.svg");
  background-position: -219px -1370px;
  width: 10px;
  height: 14px;
}

.index-badge {
  position: absolute;
  top: 2px;
  left: 2px;
  border: solid 1px #dae1e9;
  background-color: #eff3f7;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  font-size: 10px;
  color: #273251;
  height: 17px;
  padding: 0 5px;
}

.slot-box {
  color: #687f8f;
  background-color: #eff3f7;
  border: solid 1px #dae1e9;
  padding: 0px 5px 5px 5px;
  position: absolute;
  right: 2px;
  top: 2px;
  border-radius: 3px;
}

.slot-icon {
  background-image: url("../../../images/sprite.svg");
  background-position: -669px -717px;
  width: 12px;
  height: 14px;
}

.UNX-google-play {
  background: url("./icons.svg") -14px -406px;
  width: 124px;
  height: 38px;
  padding-left: 20px;
}

.UNX-app-store {
  background: url("./icons.svg") -15px -456px;
  width: 124px;
  height: 38px;
}

.UNX-arrow-icon {
  background-image: url("../../../images/sprite.svg");
  background-position: -456px -1354px;
  width: 40px;
  height: 40px;
}

.collapse-arrow {
  background-image: url("../../../images/sprite.svg");
  background-position: -669px -570px;
  width: 12px;
  height: 12px;
}
.collapse-arrow-down {
  background-image: url("../../../images/sprite.svg");
  background-position: -669px -570px;
  width: 12px;
  height: 12px;
  transform: rotate(-90deg);
}
.facet-collapse-block {
  display: none;
  box-sizing: border-box;
  height: 37px;
  width: 111px;
  border: 1px solid #dae1e9;
  border-radius: 6px;
  background-color: #ffffff;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}
.UNX-head-wrapper {
  justify-content: flex-start;
}
.collapse-right-arrow {
  background-image: url("../../../images/sprite.svg");
  background-position: -620px -570px;
  width: 12px;
  height: 12px;
}

.collapse-box {
  color: #687f8f;
  border: solid 1px #dae1e9;
  padding: 0px 5px 5px 5px;
  cursor: pointer;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.5);
  margin-top: 10px;
}
.collapse-box-top {
  color: #687f8f;
  border: solid 1px #dae1e9;
  padding: 8px;
  cursor: pointer;
  border-radius: 3px;
  background-color: #f7f9fb;
}
.facet-top-box {
  display: flex;
  justify-content: space-between;
}
