.UNX-grid-block {
    display: block; 
}
.UNX-grid-card {
	float: left;
	width: 25%;
	height: 410px;
	overflow: hidden;
}

.UNX-list-card {
	float: left;
	width: 100%;
	display: table;
}

.UNX-list-card>div {
	display: table-cell;
	vertical-align: top;
}


/*IE 8 css */



.UNX-facet-header {
	position: relative;
}

.UNX-facet-header .UNX-collapse-btn {
	position: absolute;
	right: 0;
	z-index: 1;
	top: 0;
	line-height: 5px;
}

.UNX-facet-text {
	float: left;
}

.UNX-facet-count {
	float: left;
}


.UNX-didyou-mean {
	float: left;
	width: 50%;
}

.product-view-container {
	float: right;
}

.UNX-change-products {
	float: left;
}

.UNX-sort-wrapper {
	float: right;
}

.UNX-loader {
	text-align: center;
	padding-top: 200px;
}

.UNX-range-value-block {
	float: left;
	width: 100%;
	display: block;
}

.UNX-range-slider-wrapper {
	float: left;
	width: 100%;
}

.UNX-min {
	float: left;
}

.UNX-max {
	float: right;
}
.UNX-facets-item {
	overflow: hidden;
}

.UNX-accordian-open .UNX-facets-all {
	overflow: hidden;
	overflow-y: auto;
}